/* styles.css */

div {
    color:white;
    background-color:red;
    font-size: 32px;
}
.odd {
    background-color: pink;
    font-family: Verdana, "Dejavu sans", sans-serif;
}
#two {
    color:blue;
    font-size: 36px;
}
.adjustsize {
    font-size: 24px;
}
#four {
    background-color:lightgreen;
    font-size: 24px;
    font-style: bold;
}